<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>To-do-list</h1>
    <div class="box">
        <% for(var i=0;i<task.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= task[i]%></p>
             </div>
       <% } %>
        
    

    <form class="item" action="/" method="post">
        <input type="text" name="task" placeholder="Input your task ">
        <button type="submit">+</button>
    </form>
    </div>
</body>
</html>